{% extends "layouts/base.twig" %}

{% set page = post.get_field('json_data')|json_decode %}

{% block content %}

<section class="pb-21 simple bg_blue relative">
	<div class="col-md-6 px-0 text-center  absolute home_t_video">
		<div class="videoWrapper videoWrapper169 js-videoWrapper home_dropshadow">
			<iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/vw2AF0S28D4?autoplay=1"></iframe>
			<button class="videoPoster js-videoPoster" style="background-image:url({{assetPath('images/home_img/home_video.png')}});background-color: #000230;background-position: bottom left;">Play video</button>
		</div>
		<br>
		<p class="text-white" style="font-size: 10px; font-family:Montserrat-Regular;">INTEGRATIONS</p>
		<div class="home_top_logos d-flex justify-content-center align-items-center">
			<img src="{{assetPath('images/home_img/logo_salto.svg')}}">
			<img src="{{assetPath('images/home_img/logo_mybusiness_POS.svg')}}">
			<img src="{{assetPath('images/home_img/logo_TCASS.svg')}}">
			<img src="{{assetPath('images/home_img/logo_sihot.svg')}}">
			<img src="{{assetPath('images/home_img/logo_Opera.svg')}}">
			<a class="text-white" style="font-size: 18px; font-family: GilroyBold;" href="/en/goguest-platform">View All <i class="far fa-long-arrow-alt-right"></i></a>
		</div>
	</div>
	<div class="container">
		<div class="row  justify-content-center">
			<div class="col-md-5 pt-21 pb-5 text-center text-md-left">
				<h1 class="text-white">Digitize your business, reduce your costs and increase your income</h1>
				<p class="text-white">We create a technology ecosystem through our platform that creates more profitable businesses and better experiences for customers.</p>
				<br><br>
				<a class="btn_blue" href="#casestudy"  data-toggle="modal">Read Case Study</a>
			</div>
			<div class="col-md-7 px-0 text-center"></div>
		</div>
	</div>
</section>

<section class="py-15 simple relative" style="background-image: linear-gradient(45deg, #00D7D7 0%, #241DBA 100%);">
	<div class="container">
		<div class="row py-5 bg-white justify-content-center align-items-center" style="margin-top: -151px;">
			<div class="col-md-4 text-center">
				<p class="text_blue pb-0" style="font-family: 'Gilroy-SemiBold';">Platform</p>
				<a href="/en/goguest-platform"><i class="text_blue fal fa-long-arrow-down"></i></a>
			</div>
			<div class="col-md-4 text-center">
				<p class="text_blue pb-0" style="font-family: 'Gilroy-SemiBold';">Solutions</p>
				<a href="/en/solutions/hotels-and-resorts"><i class="text_blue fal fa-long-arrow-down"></i></a>
			</div>
			<div class="col-md-4 text-center">
				<p class="text_blue pb-0" style="font-family: 'Gilroy-SemiBold';">Success Stories</p>
				<a href="/en/success-stories/oasis"><i class="text_blue fal fa-long-arrow-down"></i></a>
			</div>
		</div>
		<div class="row pt-21 align-items-center justify-content-center">
			<div class="col-md-6">
				<img class="mx-auto w-100" style="max-width: 511px;" src="{{assetPath('images/home_img/Plataforma_goguest.svg')}}">
			</div>
			<div class="col-md-6 px-5 py-5 text-center text-md-left">
				<h1 class="text-white">The platform</h1>
				<p class="font-25 text-white">The most versatile platform that adapts to your business logic.</p>
				<p class="text-white">A platform for the tourism sector that enables the use of functionalities with which you will increase income, achieve more efficient operations, more profitable hotels and more satisfied customers.</p>
				<br><br><br>
				<a class="btn_dark_blue" href="/en/goguest-platform">Goguest platform</a>
			</div>
			
		</div>
	</div>
</section>

<section class="py-15 pt-21">
	<div class="container">
		<div class="row flex-md-row-reverse align-items-center justify-content-center">
			<div class="col-md-6  p-3 relative" style="height: 581px;">
				<div class="bg-light-grey absolute bg_r_grey"></div>
				<img class="mx-auto img_r_lb" data-aos="fade-up" data-aos-anchor-placement="top-center" src="{{assetPath('images/home_img/soluciones_contactless_inicio.svg')}}">
			</div>
			<div class="col-md-6 px-5 py-5 text-center text-md-left">
				<h1 class="text_blue">Contactless Solutions</h1>
				<p class="font-25">Your clients will be able to carry out all kinds of procedures, including cashless payments, through NFC supports or their own mobile</p>
				<div class="check_lists  text-left">
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Simplify your customers' experience</p>
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Safer and more hygienic businesses</p>
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Streamline queues and increase sales / spending</p>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="py-15">
	<div class="container">
		<div class="row  align-items-center justify-content-center">
			<div class="col-md-6  p-3 relative" style="height: 581px;">
				<div class="bg-light-grey absolute bg_l_grey"></div>
				<img class="mx-auto absolute img_l_rb" data-aos="fade-up" data-aos-anchor-placement="top-center" src="{{assetPath('images/home_img/Solucion_pagos_inicio.svg')}}">
			</div>
			<div class="col-md-6 px-5 py-5 text-center text-md-left">
				<h1 class="text_blue">Payment solution</h1>
				<p class="font-25">With our platforms your clients will be able to make payments at bank terminals using wearables, bank cards or mobile devices</p>
				<div class="check_lists  text-left">
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Direct payments with tokenized card</p>
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> No previous recharges or refunds</p>
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Payments from mobile</p>
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Combine cashless payments with certified bank payments</p>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="py-15">
	<div class="container">
		<div class="row flex-md-row-reverse align-items-center justify-content-center">
			<div class="col-md-6  p-3 relative" style="height: 581px;">
				<div class="bg-light-grey absolute bg_r_grey"></div>
				<img class="mx-auto w-100 absolute img_r_lb" style="max-width: 596px;left: -4em;" data-aos="fade-up" data-aos-anchor-placement="top-center"  src="{{assetPath('images/home_img/Business_intelligence.png')}}">
			</div>
			<div class="col-md-6 px-5 py-5 text-center text-md-left">
				<h1 class="text_blue">Business intelligence</h1>
				<p class="font-25">The activity of the clients is registered, you can reduce costs and increase profits.</p>
				<div class="check_lists  text-left">
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Individual identification of each user</p>
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Generation of reports and metrics</p>
						<p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Consumption habits and user profile</p>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section class="py-15 pt-0">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-12 text-center">
					<a class="btn_blue" href="#">Book Demo</a>
			</div>   
		</div>
	</div>
</section>

<section class="py-15 pt-21 bg-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="d-flex align-items-end">
					<div class="w-100">
						<img src="{{assetPath('images/home_img/hoteles_pagos_cashless.jpg')}}">
					</div>
					<div class="relative w-100">
						<img src="{{assetPath('images/home_img/Eventos_pagos_contactless.jpg')}}">
						<img class="absolute h_box_1" src="{{assetPath('images/home_img/hotel_contactless.svg')}}">
					</div>
				</div>
				<br>
				<div class="d-flex align-items-start">
					<div class="relative">
						<img src="{{assetPath('images/home_img/Parques_acuaticos_pagos_cashless.jpg')}}">
						<img class="absolute h_box_2" src="{{assetPath('images/home_img/Huesped_big_data.jpg')}}">
					</div>
					<div class="relative">
						<img src="{{assetPath('images/home_img/Festivales_control_accesos.jpg')}}">
						<img class="absolute h_box_3" src="{{assetPath('images/home_img/Aforo_festivales_musica.png')}}">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="text_blue">All the features and options you can imagine</h2>
				<p class="font-25 py-3">Our solutions are designed for the hospitality, leisure and events sector.</p>
				<div class="panel-group home_faq" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapseOne"><img src="{{assetPath("images/header_icon/icon_hotel.svg")}}"> Hotels and Resorts</a></h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
							<div class="panel-body">
							<p>Goguest is an integrating platform for hotels that facilitates interaction with the guest through a single system that also allows direct and immediate communication with the entire hotel (PMS, POS, devices and other software).</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseOne"><img src="{{assetPath("images/header_icon/icon_parques.svg")}}"> Theme & Water Parks</a></h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
							<div class="panel-body">
							<p>Goguest is an integrating platform that interacts with your current management systems, POS, ticket machines, etc. In order to boost its performance, get the most out of the system, increase revenue and offer the best visitor experience</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseOne"><img src="{{assetPath("images/header_icon/icon_festivales.svg")}}"> Music festivals</a></h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
							<div class="panel-body">
							<p>Gofun is an Easygoband platform that offers solutions that improve operations, reduce fraud and increase revenue from events through the use of NFC technology among other means and technological resources.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseOne"><img src="{{assetPath("images/header_icon/Icon_eventos_gastronomicos.svg")}}"> Food & Beverage festival</a></h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
							<div class="panel-body">
							<p>Manage your gastronomic event or food truck festival with Gofun. A platform with which you can eliminate cash payments, reduce queues at entrances and points of sale, as well as control capacity and increase the security of the event and customers.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseOne"><img src="{{assetPath("images/header_icon/Icon_recintos_deportivos.svg")}}"> Sporting Events</a></h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
							<div class="panel-body">
							<p>Gofun is a platform with which you can efficiently manage your sporting events and with which you can process fast cashless transactions, other contactless solutions and learn about customer consumption habits.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="text-center bg-white py-15 mb-custom-21">
	<h1 class="mx-650 text_blue mx-auto">We are inspired by our clients to offer the best tools</h1>
	<br><br>
</section>


<div class="py-15 bg_blue">
	<div class="container">
		<div class="row  justify-content-center align-items-center relative home_logo_review">
			<div class="col-md-12 absolute case_slider">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner row w-100 mx-auto">
						<div class="carousel-item col-md-4 active">
							<div class="card">
							<img class="card-img-top img-fluid" src="{{assetPath('images/case/hoteles_cashless_contactless.jpg')}}" alt="Card image cap">
							<div class="card-body relative">
								<h4 class="text_blue">Hotels Oasis</h4>
								<p class="card-text">360 digital transformation in order to improve operations and processes, increase security and improve the user experience.</p>
								<p class="n_espanel absolute" style="background-image: linear-gradient(45deg, #00D7D7, #241DBA);"><small>HOTELS AND RESORTS</small></p>
							</div>
							</div>
						</div>
						<div class="carousel-item col-md-4">
							<div class="card">
							<img class="card-img-top img-fluid" src="{{assetPath('images/festival/video_poster_eventos.svg')}}" alt="Card image cap">
							<div class="card-body relative">
								<h4 class="text_blue">The Beerman</h4>
								<p class="card-text">Digital transformation of the beer festival to be able to manage access control and improve the experience of attendees with the cashless payment system.</p>
								<p class="n_espanel absolute" style="background-image: linear-gradient(45deg, #C700AB, #241DBA);"><small>FOOD & BEVERAGE FESTIVAL</small></p>
							</div>
							</div>
						</div>
						<div class="carousel-item col-md-4">
							<div class="card">
							<img class="card-img-top img-fluid" src="{{assetPath('images/parques/parques_video.svg')}}" alt="Card image cap">
							<div class="card-body relative">
								<h4 class="text_blue">Aquarama</h4>
								<p class="card-text">Digital transformation of the entire water park in order to have greater control of the site, reduce fraud and promote consumption.</p>
								<p class="n_espanel absolute"  style="background-image: linear-gradient(45deg, #00D7D7, #241DBA);"><small>THEME & WATER PARKS</small></p>
							</div>
							</div>
						</div>
						<div class="carousel-item col-md-4">
							<div class="card">
							<img class="card-img-top img-fluid" src="{{assetPath('images/festival/video_poster_recintos.svg')}}" alt="Card image cap">
							<div class="card-body relative">
								<h4 class="text_blue">Aapolo</h4>
								<p class="card-text">The championship decided to implement the cashless payment system in its sports venue to encourage consumption, increase income and improve the customer experience.</p>
								<p class="n_espanel absolute"  style="background-image: linear-gradient(45deg, #C700AB, #241DBA);"><small>SPORTING EVENTS</small></p>
							</div>
							</div>
						</div>
						<div class="carousel-item col-md-4">
							<div class="card">
							<img class="card-img-top img-fluid" src="{{assetPath('images/festival/video_poster.svg')}}" alt="Card image cap">
							<div class="card-body relative">
								<h4 class="text_blue">Rototom </h4>
								<p class="card-text">The digital transformation of the music festival was carried out to implement access control and contactless payments in order to increase sales and eliminate fraud.</p>
								<p class="n_espanel absolute"  style="background-image: linear-gradient(45deg, #C700AB, #241DBA);"><small>MUSIC FESTIVALS</small></p>
							</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="col-md-12" style=" overflow: hidden;">
				<div class="slider">
					<div class="logos">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0000_Grupo-Pinero.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0001_Alannia.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0002_karisma.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0003_Mundo-imperial.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0004_acampada-jove.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0005_belive.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0006_the-beerman.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0007_aquarama.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0008_corona.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0009_carpe-birrem.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0010_aqualandia.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0011_MIT.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0012_UJI.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0013_rototom.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0014_aapolo-argentina.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0015_OASIS.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0016_Melodi-maker.png')}}">
						<img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0017_pesf.png')}}">
					</div>
				</div>
			</div>
			<div class="col-md-12 absolute" style="bottom: -256px;">
				<div id="carousel-example-2" class="carousel slide carousel-fade mb-5" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-2" data-slide-to="1"></li>
						<li data-target="#carousel-example-2" data-slide-to="2"></li>
						<li data-target="#carousel-example-2" data-slide-to="3"></li>
						<li data-target="#carousel-example-2" data-slide-to="4"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="carousel-caption text_blue">
								<div class="row align-items-center">
									<div class="col-md-5">
										<img class="mx-auto" src="{{assetPath('images/hotels/logo_pinerro.png')}}">
									</div>
									<div class="col-md-7">
										<h4 style="font-size: 19px !important;"><blockquote>"In a week the reservations were multiplied by 3."</blockquote></h4>
									</div>
								</div>
								<div class="text-left">
								<p class="font-25 mb-0">TONI MUÑOZ</p>
								<p>IT Project Director. Piñero Group.</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="carousel-caption text_blue">
								<div class="row align-items-center">
									<div class="col-md-5">
										<img class="mx-auto" src="{{assetPath('images/hotels/logo-aquarama-color.jpg')}}"> 
									</div>
									<div class="col-md-7">
										<h4 style="font-size: 19px !important;"><blockquote>"Easygoband allows us to interact in a different and improved way with our clients."</blockquote></h4>
									</div>
								</div>
								<div class="text-left">
								<p class="font-25 mb-0">DOLORES SALGADO</p>
								<p>Director</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="carousel-caption text_blue">
								<div class="row align-items-center">
									<div class="col-md-5">
										<img class="mx-auto" src="{{assetPath('images/hotels/logo-oasis-color.jpg')}}">
									</div>
									<div class="col-md-7"> 
										<h4 style="font-size: 19px !important;"><blockquote>"They are super efficient and honest. Their cashless technology is fantastic and the team accompanies you throughout the festival."</blockquote></h4>
									</div>
								</div>
								<div class="text-left">
								<p class="font-25 mb-0">LAIA GORDI</p>
								<p>Feslloc Communication</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="carousel-caption text_blue">
								<div class="row align-items-center">
									<div class="col-md-5">
										<img class="mx-auto" src="{{assetPath('images/hotels/logo-beerman-color.jpg')}}">
									</div>
									<div class="col-md-7">
										<h4 style="font-size: 19px !important;"><blockquote>"The experience has been very satisfactory with maximum control and excellent perception from the attendees"</blockquote></h4>
									</div>
								</div>
								<div class="text-left">
								<p class="font-25 mb-0">JUAN ZURITA</p>
								<p>Owner</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="carousel-caption text_blue">
								<div class="row align-items-center">
									<div class="col-md-5">
										<img class="mx-auto" src="{{assetPath('images/hotels/logo-aapolo-color.jpg')}}">
									</div>
									<div class="col-md-7">
										<h4 style="font-size: 19px !important;"><blockquote>"Easygoband has become indispensable to streamline, greatly increase our income and have a comprehensive control of our event."</blockquote></h4>
									</div>
								</div>
								<div class="text-left">
								<p class="font-25 mb-0">NICOLAS FILIPPINI</p>
								<p>Gte of planning and Management Control</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="container-fluid px-0 pb-16 foot_book">
	<div class="blog-grid">
		<h1 class="text_blue text-center py-5">News that you cannot miss</h1>
		<div class="blog-grid_odd-row">
		{% for post in posts %}
			{% set category = single_category ? single_category: post.categories[0] %}
			<article class="blog-entry w-full relative">
				<a class="relative h-full inline-block" href="{{post.link}}">
					{% if post.thumbnail.src %}
						<img class="w-full h-full object-cover" src="{{post.thumbnail.src('large')}}" alt="">
					{% endif %}
					<div class="content absolute bottom-0 right-0 bg-white-opacity px-8 py-6">
						<span class="absolute top-0 right-0 bg-black text-md text-white mr-8 -mt-4 px-2 py-1">{{ category }}</span>
						<p class="text-xs font-bold text-gray-700">
							{{ post.date('d/m/Y') }}</p>
						<h2 class="text-xl md:text-2xl xl:text-3xl mb-2 leading-tight">
							{{post.title}}
						</h2>
					</div>
				</a>
			</article>
		{% endfor %}
		</div>
	</div>
</section>


    

    <div class="py-15">
        <div class="container text_blue">
            <div class="row my-5 justify-content-center align-items-center cta_border">
                <div class="col-md-7 relative">
                    <img class="mx-auto img_goguest" src="{{assetPath('images/p_goguest/Goguest-demo-CTA.svg')}}">
                </div>
                <div class="col-md-5 text-center">
                    <h4 class="text_blue mb-5">Would you like to see how your business can be digitized?</h4>
                    <a class="btn_blue" href="#">Book Demo</a>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="casestudy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="border: none;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fal fa-times"></i></button>
        </div>
        <div class="modal-body">
			<div class="container px-0">
				<div class="row">
					<div class="col-md-7 pl-0 showin_init">
						<img class="w-100" src="{{assetPath('images/home_img/caso_estudio_hoteles_contactless.jpg')}}">
						<br>
						<P style="font-size: 16px;">A <b  class="text_blue">complete case study</b> that will help you understand how to benefit from our Goguest solution. It includes a solution to the problems raised by the hotel, <b class="text_blue">the necessary investment</b>. as well as  <b class="text_blue">the returns and economic benefits.</b></p>
						<p style="color:#0000ff; font-size: 16px;"><i>Fill in the form and we will send you the case study to your email.</i></p>
					</div>
					<div class="col-md-5 pr-0 showin_init">
						{{ function('do_shortcode', '[contact-form-7 id="7321" title="modal form"]') }}
					</div>
					<div class="col-md-12 pr-0 showin_sent mx-auto mx-650 hidden">
						<img class="w-100 mx-auto" src="{{assetPath('images/home_img/caso_estudio_hoteles_contactless.jpg')}}" style="max-width: 451px;">
						<br>
						<h4 class="text_blue text-center">Thank you for requesting the case study. One of our commercials will contact you via email to send you the case study as soon as possible.</h4>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div>
  </div>

 <style>
		.carousel-item{
			margin-right:0%;
		}
        .slider {
            animation: slidein 30s linear infinite;
            white-space: nowrap;
        }
        .slider .logos {
            width: 100%;
            display: flex;
            margin: 0px 0;
        }
        .slider .logos .fab {
            width: calc(100% / 7);
            animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }

        @keyframes slidein {
            from {
                transform: translate3d(0, 0, 0);
            }
            to {
                transform: translate3d(-100%, 0, 0);
            }
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

		@media (min-width: 768px) {
			/* show 4 items */
			.carousel-inner .active,
			.carousel-inner .active + .carousel-item,
			.carousel-inner .active + .carousel-item + .carousel-item {
				display: block;
			}

			.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
			.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
			.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item{
				transition: none;
			}

			.carousel-inner .carousel-item-next,
			.carousel-inner .carousel-item-prev {
				position: relative;
				transform: translate3d(0, 0, 0);
			}

			.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item{
				position: absolute;
				top: 0;
				right: -33.3%;
				z-index: -1;
				display: block;
				visibility: visible;
			}

			/* left or forward direction */
			.active.carousel-item-left + .carousel-item-next.carousel-item-left,
			.carousel-item-next.carousel-item-left + .carousel-item,
			.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
			.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
				position: relative;
				transform: translate3d(-100%, 0, 0);
				visibility: visible;
			}

			/* farthest right hidden item must be absolue position for animations */
			.carousel-inner .carousel-item-prev.carousel-item-right {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				display: block;
				visibility: visible;
			}

			/* right or prev direction */
			.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
			.carousel-item-prev.carousel-item-right + .carousel-item,
			.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
			.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item{
				position: relative;
				transform: translate3d(100%, 0, 0);
				visibility: visible;
				display: block;
				visibility: visible;
			}
			.carousel-control-prev {
				background-image: linear-gradient(to left, #03c9d500, #1c23b5);
				width: 6%;
				left:15px;
			}
			.carousel-control-next {
				right: 15px;
				background-image: linear-gradient(to right, #03c9d500, #1c23b5);
				width: 6%;
			}
			.case_slider .card {
				height: 100%;
			}
		}

    </style>




{% endblock %}
