{% extends "layouts/base.twig" %}

{% set page = post.get_field('json_data')|json_decode %}

{% block content %}
    <div class="bg-light-grey">
        <div class="py-15" style="background-image: linear-gradient(-52deg, rgb(55 60 160) 0px, rgb(33 46 189) 2%, rgb(9 165 207) 100%);padding-bottom: 13rem !important;">
            <h1 class="text-center text-white">Planes Goguest Hoteles</h1>
        </div>
        <div class="container">
            <div class="row  justify-content-center" style="margin-top: -8rem;">
                <div class="col-md-4">
                    <div class="card p-5 mb-5 text-center">
                        <img class="mx-auto" style="height: 170px;" src="{{assetPath('images/plans/I_control_accesos.svg')}}">
                        <div class="card-body py-0 pt-5">
                            <h4 class="card-title">Control de Accesos</h4>
                            <div class="check_lists  text-left">
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Apertura de habitaciones</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Control de estancias</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Control de afluencias</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-5 mb-5 text-center">
                        <img class="mx-auto" style="height: 170px;" src="{{assetPath('images/plans/Webapp_personalizable.svg')}}">
                        <div class="card-body py-0 pt-5">
                            <h4 class="card-title">Webapp Personalizable</h4>
                            <div class="check_lists  text-left">
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Room Service</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Encuestas</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Reserva de servicios</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Online Check-in</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-5 mb-5 text-center">
                        <img class="mx-auto" style="height: 170px;" src="{{assetPath('images/plans/I_Pagos_contactless.svg')}}">
                        <div class="card-body py-0 pt-5">
                            <h4 class="card-title">Pagos Contactless</h4>
                            <div class="check_lists  text-left">
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Cargo a habitacion</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Limites de consumo</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Pagos online integrados con Webapp y pasarela de pagos.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-5 mb-5 text-center">
                        <img class="mx-auto" style="height: 170px;" src="{{assetPath('images/plans/I_management.svg')}}">
                        <div class="card-body py-0 pt-5">
                            <h4 class="card-title">Management</h4>
                            <div class="check_lists  text-left">
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Control de stock de pulseras</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Control de material</p>
                                <p class="mb-0"><img src="{{assetPath('images/home_img/tick_dark.png')}}"> prestado a huespedes</p>
                                <small style="margin: 0 0 10px 21px;">toallas, material deportivo juegos</small>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Tokens de reservas o servicios contratados.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-5 mb-5 text-center">
                        <img class="mx-auto" style="height: 170px;" src="{{assetPath('images/plans/I_business_intelligence.svg')}}">
                        <div class="card-body py-0 pt-5">
                            <h4 class="card-title">Business Inteligence</h4>
                            <div class="check_lists  text-left">
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Modulo de recogida de datos</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Modulo de trazabilidad</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-5 mb-5 text-center">
                        <img class="mx-auto" style="height: 170px;" src="{{assetPath('images/home_img/pack_gs.png')}}">
                        <div class="card-body py-0 pt-5">
                            <h4>Pack Goguest Standard</h4>
                            <div class="check_lists  text-left">
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Cargo habitacion</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Apertura de habitaciones</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Control de estancias</p>
                                <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Control de afluencias</p>
                            </div><br>
                            <a class="btn_blue" style="padding: .7rem 2rem;font-size: 27px;"><i class="far fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="bg-white py-15">
		<h2 id="form" class="text-center">Pide Presupuesto</h1>
		<div class="max-w-4xl mx-auto mt-16 px-8 md:px-0">
				<div class="js-form-container mx-auto pt-16 pb-32">
					{{ function('do_shortcode', '[contact-form-7 id="7302" title="Pide presupuesto"]') }}
				</div>
			</div>
	</div>
</section>

    <div class="py-15">
        <div class="container text_blue">
            <div class="row my-5 justify-content-center align-items-center" style="border: 9px solid grey;min-height: 301px;">
                <div class="col-md-7 relative">
                    <img class="mx-auto img_goguest" src="{{assetPath('images/p_goguest/Goguest-demo-CTA.svg')}}">
                </div>
                <div class="col-md-5 text-center">
                    <h4 class="text_blue mb-5">¿Te gustaría ver cómo tu negocio puede digitalizarse?</h4>
                    <a class="btn_blue">{{ lang == 'en' ? 'Book Demo': 'Reservar Demo' }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
