{% extends "layouts/base.twig" %}

{% set page = post.get_field('json_data')|json_decode %}

{% block content %}
    <div class="py-15 bg-light-grey">
        <div class="container">
             <div class="row my-5 justify-content-center mx-650 mx-auto">
                <h1 class="text-center text_blue">{{lang == 'en'?'Frequent questions':'Preguntas frecuentes'}}</h1>
                <p class="text-center font-25">{{lang == 'en'?'Easygoband offers solutions that adapt to the business logic, cashless payment methods, reports and user metrics, access control and other functionalities to increase revenue, reduce fraud and improve operations.':'Easygoband ofrece soluciones que se adaptan a la logica del negocio,medios de pago cashless, reportes y metricas de los usuarios, control de accesos y otras funcionalidades para incrementar ingresos, reducir fraude y mejorar operativas'}}</p>
             </div>
            
            <div class="row my-5 justify-content-center">
                <div class="col-md-6">
                    <h2 class="text_blue">{{lang == 'en'?'Gofun':'Gofun'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What is Gofun?':'¿Qué es Gofun?'}}</a></h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'It is Easygoband\'s product that digitizes the leisure and entertainment sector (music festivals, gastronomic events, food trucks and sports venues) with NFC technology that offers a new and efficient technological management while improving the user experience. Giving rise to access and capacity control, flexibility in cashless and contactless payments as well as business intelligence (big data) with which you will increase the income of your business.':'Es el producto de Easygoband que digitaliza el sector del ocio y del entretenimiento (festivales de música, eventos gastronómicos, food truck y recintos deportivos) con tecnología NFC que ofrece una nueva y eficiente gestión tecnológica mientras mejora la experiencia de los usuarios. Dando lugar a control de accesos y aforos, flexibilidad en los pagos cashless y contactless además del business intelligence (big data) con los que aumentarás los ingresos de tu negocio.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Does my business need Gofun?':'¿Necesita mi negocio Gofun?'}}</a></h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Gofun is designed and developed for all kinds of events, venues, sports tournaments, festivals, concerts, markets, fairs, e-sports and many more. If you are looking to improve the efficiency, security and increase the income of your business, Gofun is what you need to achieve it.':'Gofun está diseñado y desarrollado para todo tipo de eventos, recintos, torneos deportivos, festivales, conciertos, markets, ferias, e-sports y muchos más. Si estás buscando mejorar la eficiencia, la seguridad y aumentar los ingresos de tu negocio, Gofun es lo que necesitas para conseguirlo.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How are payments made with the Gofun solution?':'¿Cómo se realizan los pagos con la solución Gofun?'}}</a></h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'User payments are cashless and contactless payments that are made through NFC bracelets, a bank card and with a mobile phone, completely eliminating cash and its associated problems.':'Los pagos de los usuarios son pagos cashless y contactless que se realizan mediante pulseras NFC, tarjeta bancaria y con el móvil, eliminando por completo el cash y sus problemas asociados.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Is there support during the event?':'¿Se cuenta con soporte durante el evento?'}}</a></h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'We take care of all the needs to carry out the event and offer technical support during it if you need it.':'Nos encargamos de todas las necesidades para llevar a cabo el evento y ofrecemos soporte técnico durante el mismo si así lo necesitas.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Do workers need training?':'¿Necesitan preparación los trabajadores?'}}</a></h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'We train your team during the first days so that you can manage it autonomously, we also configure the system adapting it to your needs.':'Formamos a tu equipo durante los primeros días para que puedas gestionarlo de forma autónoma, además configuramos el sistema adaptándolo a tus necesidades.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">{{lang == 'en'?'Goguest':'Goguest'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What is the Goguest platform?':'¿Qué es la plataforma Goguest?'}}</a></h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'The Goguest platform is a system that connects all the software and hardware of your hotel or park to digitize all areas of your business, offering multiple functionalities through a single, adaptable and scalable solution to new technological needs.':'La plataforma Goguest es un sistema que conecta todos los software y hardware de tu hotel o parque para digitalizar todas las áreas de tu negocio, ofreciendo múltiples funcionalidades mediante una solución única, adaptable y escalable a las nuevas necesidades tecnológicas.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Why do I need Goguest?':'¿Por qué necesito Goguest?'}}</a></h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'If your business is in the hospitality sector and what you are looking for is an easy-to-use system where you have everything under control through a single platform, Goguest is what you need. You will increase security, efficiency and revenue in addition to offering an unbeatable experience to your customers.':'Si tu negocio está en el sector hospitality y lo que buscas es un sistema fácil de usar y donde lo tengas todo bajo control mediante una única plataforma, Goguest es lo que necesitas. Aumentarás la seguridad, la eficiencia y los ingresos además de ofrecer una experiencia inmejorable a tus clientes.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Is it compatible with my PMS and other systems?':'¿Es compatible con mi PMS y otros sistemas?'}}</a></h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Yes, Goguest integrates easily with all the PMS, POS, locks and other business systems, it does not require any changes. The platform has direct communication with the other software, transferring the information they need and requesting what is required.':'Sí, Goguest se integra ágilmente con todos los PMS, POS, cerraduras y demás sistemas del negocio, no requiere de ningún cambio. La plataforma cuenta con una comunicación directa con los otros software trasladando la información que necesitan y solicitando la que se requiere.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Would my current hardware work for me?':'¿Me serviría mi hardware actual?'}}</a></h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Yes, you will not have to change anything. On some occasions and depending on the needs of the business, it could be possible that you will need to purchase readers, tablets, kiosks or some other device to obtain the best performance from the functionalities that Goguest offers.':'Sí, no tendrás que cambiar nada. En algunas ocasiones y dependiendo de las necesidades del negocio, podría ser posible que necesitarás adquirir lectores, tablets, kioskos  o  algún otro dispositivo para obtener el mayor rendimiento a las funcionalidades que ofrece Goguest.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'When can I get the whole system working?':'¿Cuándo podré tener todo el sistema funcionando?'}}</a></h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'In less than 10 days you can have your entire hotel or park fully digitized and using all the solutions contactless, cashless, access control, influx, webapp for clients, pre check-in, room service orders, reservation of services, control and loans of material, business intelligence (big data) and many more.':'En menos de 10 días podrás tener todo tu hotel o parque totalmente digitalizado y utilizando todas las soluciones contactless, cashless, control de accesos, afluencias, webapp para clientes, pre check-in, pedidos room service, reserva de servicios, control y préstamos de material, business intelligence (big data) y muchas más.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What benefits will I get in my hotel?':'¿Qué beneficios conseguiré en mi hotel?'}}</a></h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'You will obtain benefits in profitability, income, saving time and expenses, more security along with anti-covid measures, knowing the consumption of your customers in addition to its traceability to plan commercial strategies and the elimination of theft and losses. A new way of interacting with guests.':'Obtendrá beneficios en la rentabilidad, en los ingresos, en el ahorro de tiempos y de gastos, más seguridad junto a medidas anti covid, conocer los consumos de sus clientes además de su trazabilidad para planificar estrategias comerciales y la eliminación de robos y pérdidas. Una nueva manera de interactuar con los huéspedes.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Do workers need to have a more technical profile?':'¿Necesitan los trabajadores tener un perfil más técnico?'}}</a></h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'No, you do not need technical knowledge to use all the tools. They will receive a week of face-to-face training at their hotel or park to learn how Goguest works.':'No, para poder utilizar todas las herramientas no se necesitan conocimientos técnicos. Recibirán una semana de formación presencial en su hotel o parque para conocer el funcionamiento de Goguest.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Do I have support after the integration of the platform?':'¿Cuento con soporte tras la integración de la plataforma?'}}</a></h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Yes, you will have 24/7 support at no additional cost.':'Si, contará con soporte 24/7 sin ningún coste adicional.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">{{lang == 'en'?'Contactless solutions':'Soluciones contactless'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Why do I need cashless payments?':'¿Por qué necesito pagos cashless?'}}</a></h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'We are heading towards a cashless society, with greater control and more facilities for both the business and the clients. Cashless payments offer speed, flexibility and security, thus giving a better user experience.':'Nos dirigimos hacia una sociedad cashless, con mayor control y más facilidades tanto para el negocio como para los clientes. Los pagos cashless ofrecen rapidez, flexibilidad y seguridad, dando así una mejor experiencia al usuario.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How do cashless payments work?':'¿Cómo funcionan los pagos cashless?'}}</a></h4>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'It works with RFID technology and is used to achieve communication between the customer\'s wearable and the devices that read it, obtaining the information that is needed.':'Funciona con tecnología RFID y se utiliza para lograr la comunicación entre el wearable del cliente y los dispositivos que lo leen, obteniendo la información que se necesita.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What is a wearable?':'¿Qué es un wearable?'}}</a></h4>
                            </div>
                            <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'A wearable is a small electronic device that is easily transported (Wearable Technology), it can be a bracelet / bracelet, card, ring, sticker or almost any object.':'Un wearable es un pequeño dispositivo electrónico que se transporta fácilmente (Tecnología vestible), puede ser una una pulsera/brazalete, tarjeta, anillo, pegatina o casi cualquier objeto.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How many contactless methods do you offer?':'¿Cuántos métodos contactless ofrecéis?'}}</a></h4>
                            </div>
                            <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Charge to the room, payment by prior recharge, payments for points or courtesies, purchase and exchange of packs and tokenization of the bank card.':'Cargo a habitación, pago mediante recarga previa, pagos por puntos o cortesías, compra y canje de packs y tokenización de la tarjeta bancaria.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Can I set payment limits for my guests?':'¿Puedo configurar límites de pago para mis huéspedes?'}}</a></h4>
                            </div>
                            <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Yes, you will be able to limit the drinks made with an account on a daily or permanent basis. The limits may be applied to all members of the reserve either individually or by season.':'Sí,  podrás limitar de forma diaria o permanente las consumiciones realizadas con una cuenta. Se podrán aplicar los límites a todos los integrantes de la reserva o de forma individual o por estación.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How will my business change with contactless solutions?':'¿Cómo va a cambiar mi negocio con las soluciones contactless?'}}</a></h4>
                            </div>
                            <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'You will increase the efficiency of your business and your operations, you will reduce losses and theft, you will increase the safety of your clients, more facilities and options for your guests, improvement of hygiene and protection for the health of your clients and employees.':'Aumentarás la eficiencia de tu negocio y tus operativas, reducirás pérdidas y robos, aumentarás la seguridad de tus clientes, más facilidades y opciones para tus huéspedes, mejora de la higiene y protección para la salud de tus clientes y empleados.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">{{lang == 'en'?'Access and flow control':'Control de accesos y afluencias'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Why do I need access / flow control?':'¿Por qué necesito control de accesos/afluencias?'}}</a></h4>
                            </div>
                            <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Controlling access digitally is, in addition to efficient, safe. You can control your premises in a simple way. You will know who enters where and when, controlling all the accesses and the capacity of the different areas.':'Controlar los accesos de manera digital, es además de eficiente, seguro. Podrás controlar tus premisas de forma sencilla. Sabrás quién entra dónde y cuándo, controlando todos los accesos y los aforos de las diferentes áreas.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How does access control work in events?':'¿Cómo funciona el control de accesos en eventos?'}}</a></h4>
                            </div>
                            <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Access control is checked with readers that read the users\' wristbands. From the readers you can see if you have permission to access the concert, festival, site campsite, backstage, etc. according to your input.':'El control de acceso se chequea con unos lectores que leen la pulsera de los usuarios. Desde los lectores se puede observar si tiene permiso para acceder al concierto, festival, camping del recinto, backstage, etc. según su entrada.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How does access control work in hotels and parks?':'¿Cómo funciona el control de accesos en hoteles y parques?'}}</a></h4>
                            </div>
                            <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Permissions are granted or denied by means of readers or lathes that read the wearable (bracelet, card or other object). Permissions are controlled from the Goguest general panel where there are different options to enable access such as: guest category, reservation type, age, individual level, ticket type, etc.':'Mediante unos lectores o tornos que leen el wearable (pulsera, tarjeta u otro objeto) se conceden o deniegan los permisos. Los permisos se controlan desde el panel general de Goguest donde hay diferentes opciones para habilitar accesos como: categoría de huésped, tipo de reserva, edad, a nivel individual, tipo de entrada, etc.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Can you give access to an area of the hotel in a timely manner?':'¿Se pueden dar accesos de forma puntual a una área del hotel?'}}</a></h4>
                            </div>
                            <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Yes, in the event that the client does not have previously enabled access to a certain area and wishes to access, then a price can be established for access and use the wearable to make a cashless payment, whether it be room charge, toke, etc.':'Sí, en el caso de que el cliente no tenga previamente habilitado el acceso a un área determinada y desee acceder, entonces se podrá establecer un precio por acceso y hacer uso del wearable para realizar un pago cashless, ya sea cargo a habitación, toke, etc.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How will my business change with access control?':'¿Cómo va a cambiar mi negocio con el control de accesos?'}}</a></h4>
                            </div>
                            <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'You will increase the security of the entire business and you will have absolute control of entries and exits. You will be able to detect which are the areas with high demand for your business to later improve the operations of the place and even modify the economic strategy to increase profits thanks to the data collected (big data).':'Aumentarás la seguridad de todo el negocio y tendrás un control absoluto de entradas y salidas. Podrás detectar cuáles son las zonas con alta demanda de tu negocio para posteriormente mejorar la operativa del lugar e incluso modificar la estrategia económica para aumentar los beneficios gracias a los datos recopilados (big data).'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text_blue">{{lang == 'en'?'Business intelligence':'Business Intelligence'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What does Business Intelligence mean?':'¿Qué significa Business Intelligence?'}}</a></h4>
                            </div>
                            <div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'It is quantitative data that you get from your customers and the business. That is, you will be able to know which are the best-selling products, the total sales per season, the tastes and consumption preferences of your customers, at what time the most products are consumed and what they are, in addition to knowing which profiles consume them (age, nationality, etc).':'Son datos cuantitativos que obtienes de tus clientes y del negocio. Es decir, podrás saber cuáles son los productos más vendidos, el total de ventas por estación, los gustos y preferencias de consumo de tus clientes, a que hora se consume más productos y cuales son, además de saber que perfiles los consumen (edad, nacionalidad, etc).'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How does it work?':'¿Cómo funciona?'}}</a></h4>
                            </div>
                            <div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'All POS are linked to the platform, both for hotels and parks and for events, in which all the information on customer movements is collected on the devices. These devices are connected to the network and transfer the data to the server where it is managed.':'Todos los POS están vinculados con la plataforma, tanto para hoteles y parques como para eventos, en la que se recopila toda la información de los movimientos del cliente en los dispositivos. Estos dispositivos están conectados a la red y transfieren los datos al servidor donde se gestionan.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What information does it provide?':'¿Qué información proporciona?'}}</a></h4>
                            </div>
                            <div id="collapse27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Big data, quantitative data of your clients and business, in the form of graphs.':'Big data, datos cuantitativos de tus clientes y negocio, en forma de gráficas.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How do I get this data?':'¿Cómo obtengo estos datos?'}}</a></h4>
                            </div>
                            <div id="collapse28" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Through a panel you can view the data that is of interest to you.':'A través de un panel podrás visualizar los datos que sean de tu interés.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse29" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How will my business change applying business intelligence?':'¿Cómo va a cambiar mi negocio aplicando business intelligence?'}}</a></h4>
                            </div>
                            <div id="collapse29" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'With this data you will obtain privileged information about your business and will help you in making decisions and in the implementation of new products or services. By properly applying this information, you will be able to increase income and reduce expenses.':'Con estos datos obtendrás información privilegiada sobre tu negocio y te ayudará en la toma de decisiones y en la implementación de nuevos productos o servicios. Aplicando adecuadamente esta información lograrás incrementar los ingresos y reducir gastos.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">{{lang == 'en'?'Internal control':'Control Interno'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What is internal control?':'¿Qué es control interno?'}}</a></h4>
                            </div>
                            <div id="collapse30" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'With the internal control system, the hotel or the park, you can have an exhaustive control of what you lend to your customers (towels, pillows, high chairs, trolleys, etc).':'Con el sistema de control interno, el hotel o el parque, podrá tener un control exhaustivo de lo que presta a sus clientes (toallas, almohadas, tronas, carritos, etc).'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse31" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How does internal control work in hotels and parks?':'¿Cómo funciona el control interno en hoteles y parques?'}}</a></h4>
                            </div>
                            <div id="collapse31" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'From the Goguest platform for hotels and parks, a catalog is configured with the materials available to customers. At the points where these materials are loaned, a portable device or PC is available with the list of materials that can be loaned. At these points, the selection of the material is made, the reading of the bracelet and subtractions if the hotel makes the loan or sums if the client returns the material.':'Desde la plataforma Goguest para hoteles y parques se configura un catálogo con los materiales a disposición de los clientes. En los puntos donde se prestan estos materiales, se dispone de un dispositivo portátil o PC con la lista de los materiales que se pueden prestar. En estos puntos, se realiza la selección del material, la lectura de la pulsera y restas si el hotel realiza el préstamo o sumas si el cliente devuelve el material.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse32" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How will my business change with internal control?':'¿Cómo va a cambiar mi negocio con el control interno?'}}</a></h4>
                            </div>
                            <div id="collapse32" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Your business will see reduced costs for replacement of material and thefts that occur.':'Su negocio verá reducido los gastos en reposición de material y en robos que se producen.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">{{lang == 'en'?'Bank Tokenization':'Tokenización Bancaria'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse33" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What is bank tokenization?':'¿Qué es la tokenización bancaria?'}}</a></h4>
                            </div>
                            <div id="collapse33" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Tokenization consists of replacing the sensitive data of a bank card with a unique code called a token, in this way the real data of the clients is not exposed. This token is irreversible and works on a platform, in this case our systems.':'La tokenización consiste en reemplazar los datos sensibles de una tarjeta bancaria por un código único llamado token, de esta manera no se exponen los datos reales de los clientes. Este token es irreversible y trabaja en una plataforma, en este caso nuestros sistemas.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse34" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How does it work?':'¿Cómo funciona?'}}</a></h4>
                            </div>
                            <div id="collapse34" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'The bank card has a PAN number, the user registers their data on our platform and then a token provider service (Token Store) associates this information with a token with which transactions can be carried out.':'La tarjeta bancaria cuenta con un número PAN, el usuario registra sus datos en nuestra plataforma y a continuación un servicio de proveedor de tokens (Almacen de tokens) asocia dicha información a un token con el que se pueden realizar las transacciones.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse35" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What are the benefits of bank tokenization?':'¿Qué beneficios tiene la tokenización bancaria?'}}</a></h4>
                            </div>
                            <div id="collapse35" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Tokenization eliminates the duplication of users\' personal data, they are irreversible so a third party cannot do anything, higher standard of data protection and security, convenience and immediacy in transactions.':'La tokenización elimina la duplicación de los datos personales de los usuarios, son irreversibles por lo que un tercero no puede hacer nada, mayor estándar de protección de datos y seguridad, comodidad e inmediatez en las transacciones.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse36" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What forms of tokenization do you offer?':'¿Qué formas de tokenización ofrecéis?'}}</a></h4>
                            </div>
                            <div id="collapse36" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Physical tokenization, where wearables (bracelets, rings, etc.) are tokenized on the premises of the venue through a verified device. Digital tokenization, where the client herself accesses her personal area within the webapp and performs the tokenization by herself online.':'Tokenización física, donde los wearables (pulseras, anillos, etc) se tokenizan en las premisas de recinto mediante un dispositivo verificado. Tokenización digital, donde el propio cliente accede a su área personal dentro de la webapp y realiza la tokenización por sí mismo online.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">{{lang == 'en'?'Ticket validation':'Validación de entradas'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse37" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'How is ticket validation done?':'¿Cómo se realiza la validación de entradas?'}}</a></h4>
                            </div>
                            <div id="collapse37" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'It is done through a code associated with the ticket that is linked to the RFID bracelet. Whether it is printed or on the mobile, the entry will be validated with a simple approach of the NFC reader to the code of the same.':'Se realiza a través de un código asociado a la entrada que se vincula a la pulsera RFID. Tanto si se lleva impresa o en el móvil, la entrada quedará validada con un simple acercamiento del lector NFC al código de la misma.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse38" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What advantages does it have?':'¿Qué ventajas tiene?'}}</a></h4>
                            </div>
                            <div id="collapse38" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'The ticket validation system is a fast and intuitive system that reduces waiting times and prevents forgeries.':'El sistema de validación de entradas es un sistema rápido e intuitivo que reduce los tiempos de espera y evita falsificaciones.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse39" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'Can it be integrated with the ticket machines?':'¿Se puede integrar con las ticketeras?'}}</a></h4>
                            </div>
                            <div id="collapse39" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Yes, there is the possibility of integrating it with the current ticket machines of the event.':'Sí, existe la posibilidad de integrarlo con las ticketeras actuales del evento.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">{{lang == 'en'?'Goguest WebApp':'Goguest WebApp'}}</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse40" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What is a webapp and what are its advantages?':'¿Qué es una webapp y cuáles son sus ventajas?'}}</a></h4>
                            </div>
                            <div id="collapse40" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'The Goguest application is a webapp, a web page that is optimized for use on mobiles as a native app. It can be opened from any browser and there is no application to download by the user.':'La aplicación Goguest es una webapp, una página web que se optimiza para que se utilice en los móviles como una app nativa. Se puede abrir desde cualquier navegador y no hay que descargar ninguna aplicación por parte del usuario.'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse41" aria-expanded="false" aria-controls="collapseOne">{{lang == 'en'?'What options does the Goguest webapp include?':'¿Qué opciones incluye la webapp de Goguest?'}}</a></h4>
                            </div>
                            <div id="collapse41" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>{{lang == 'en'?'Pre Check-in, where users can check-in online and thus speed up waiting at reception, that is, when the guest comes to the hotel, the time at reception will be minimal.
                                    <br> Room service orders, where the guest can place their orders without calling by phone, in the webapp they can see the entire menu, select delivery time and pay.
                                    <br> The reservation of services offers the possibility for the guest to reserve their activities or services offered by the hotel when they need it.
                                    <br> Surveys and questionnaires, the guest will be able to fill in the questionnaires that the hotel needs and associate them with the different locations.
                                    <br> Payments by tokenization, if the customer so wishes, they can tokenize their card within the application itself safely and at any time.':'Pre Check-in, donde los usuarios podrán hacer un check-in online y así agilizar las esperas en recepción, es decir, cuando el huésped acuda al hotel, el tiempo en recepción será mínimo. 
                                    <br>Pedidos room service, donde el huésped podrá realizar sus pedidos sin necesidad de llamar por teléfono, en la webapp podrá ver todo el menú, seleccionar hora de entrega y pagar. 
                                    <br>La reserva de servicios, ofrece la posibilidad de que el huésped reserve sus actividades o servicios que ofrece el hotel en el momento que lo necesite.
                                    <br>Encuestas y cuestionarios, el huésped podrá rellenar los cuestionarios que precise el hotel y asociarlas a las diferentes ubicaciones.
                                    <br>Pagos mediante tokenización, si así lo desea el cliente, podrá tokenizar su tarjeta dentro de la propia aplicación de forma segura y en cualquier momento.'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-15">
        <div class="container text_blue">
            <div class="row my-5 justify-content-center align-items-center cta_border">
                <div class="col-md-7 relative">
                    <img class="mx-auto img_goguest" src="{{assetPath('images/p_goguest/Goguest-demo-CTA.svg')}}">
                </div>
                <div class="col-md-5 text-center">
                    <h4 class="text_blue mb-5">{{lang == 'en'?'Would you like to see how your business can be digitized?':'¿Te gustaría ver cómo tu negocio puede digitalizarse?'}}</h4>
                    <a class="btn_blue">{{ lang == 'en' ? 'Book Demo': 'Reservar Demo' }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
