{% extends "layouts/base.twig" %}

{% set page = post.get_field('json_data')|json_decode %}

{% block content %}
    <div class="el_hub_goguest py-15">
        <div class="bg_grey_right_70"></div>
        <div class="container-fluid px-0">
            <div class="row mx-0 align-items-center">
                <div class="col-md-6 px-0">
                    <img class="mx-auto w-100" src="{{assetPath('images/p_goguest/Plataforma_Goguest_ Easygoband_Hoteles.svg')}}">
                </div>
                <div class="col-md-6 px-5 py-5 text-center text-md-left mx-650">
                    <h1 class="text_blue">El Hub de Goguest conecta todos los sistemas de tu hotel entre sí </h1>
                    <p class="font-25">Goguest llega donde otros no pueden, todo tu hotel quedará centralizado desde una única plataforma y un único panel de gestión.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-15">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 px-5 py-5 text-center text-md-left">
                    <h1 class="text_blue">Digitalización 360º</h1>
                    <p class="text_blue">Habilita el uso de funcionalidades Goguest e integra software y apps de terceros, lo que permite la digitalización 360º de procesos y mejorar operativas sacando el máximo rendimiento a todo el sistema de gestión del hotel y del parque.</p>
                </div>
                <div class="col-md-6">
                    <img class="mx-auto w-100" style="max-width: 461px;" src="{{assetPath('images/p_goguest/Digitalizacion_hoteles_resorts.svg')}}">
                </div>
               
            </div>
        </div>
    </div>

    <div class="py-15 bg_blue">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 px-5 py-5 text-white text-center text-md-left">
                    <h1>Comunicación del PMS con el Dashboard de Goguest en tiempo real</h1>
                    <p>Los datos actualizados en el PMS, se sincronizan automáticamente en nuestro dashboard.</p>
                </div>
                <div class="col-md-6">
                    <img class="mx-auto w-100" style="max-width: 441px;" src="{{assetPath('images/p_goguest/PMS_integracion_hoteles_easygoband.svg')}}">
                </div>
            </div>
        </div>
    </div>

    <div class="py-15">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6">
                    <img class="mx-auto w-100" style="max-width: 441px;" src="{{assetPath('images/p_goguest/logica_negocio_hoteles_plataforma_easygoband.svg')}}">
                </div>
                <div class="col-md-6 px-5 py-5 text-center text-md-left">
                    <h1 class="text_blue">Totalmente escalable y adaptable a tu lógica de negocio</h1>
                    <p class="text_blue">Es una herramienta configurable y que permite adaptarse a los requisitos del cliente, pudiendo definirlos en cuanto a consumos, productos y servicios.</p>
                </div>              
            </div>
        </div>
    </div>

    <div class="py-15 bg_grey">
        <div class="container text_blue">
            <h1 class="text-center py-5">Plataforma, segura<br>robusta, ágil y sencilla</h1>
            <div class="row my-5 justify-content-center">
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 61px;" src="{{assetPath('images/p_goguest/icon_plataforma_hoteles_flexible_versatil.svg')}}">
                    <h4 class="py-3">Flexible y versátil</h4>
                    <p>El sistema es totalmente modular y versátil. Nos adaptamos a la lógica de negocio.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 61px;" src="{{assetPath('images/p_goguest/icon_desarrollos_hoteles.svg')}}">
                    <h4 class="py-3">Extensiones ilimitadas</h4>
                    <p>Creamos pequeños desarrollos que se adaptan a la operativa del negocio en el momento en el que se necesite.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 61px;" src="{{assetPath('images/p_goguest/icon_integracion_rapida_easygoband.svg')}}">
                    <h4 class="py-3">Integración rápida</h4>
                    <p>Con nuestro método la integración es fácil y rápida, en tan solo 10 días todo estará funcionando.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-15">
        <div class="container text_blue">
            <h4 class="text-center">Eficiencia inmejorable mediante la integración y colaboración con <br>los sistemas de gestión</h4>
            <div class="row my-5 justify-content-center align-items-center">
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Sihot-integracion_easygoband_hoteles.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Opera_oracle-integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/TCA_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Tesa_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Mews_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Omnitechit_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Softrestarurant_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/MybusinessPOS_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Salro_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/QuoPOS_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Onity_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Visualgest_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Assa Abbloy_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Dormakaba_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Engisoft_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Guestpro_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/BDP_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/MIT_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Paynopain_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Getnet_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Quohotel_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Micros_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/Dynamics NAV_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 text-center">
                    <img class="mx-auto my-5" style="max-height: 61px;" src="{{assetPath('images/p_goguest/logos_integraciones/vingcard_elsafe_integracion_easygoband.jpg')}}">
                </div>
            </div>
        </div>
    </div>

    <div class="py-15">
        <div class="container text_blue">
            <div class="row my-5 justify-content-center align-items-center" style="border: 9px solid grey;min-height: 301px;">
                <div class="col-md-7 relative">
                    <img class="mx-auto img_goguest" src="{{assetPath('images/p_goguest/Goguest-demo-CTA.svg')}}">
                </div>
                <div class="col-md-5 text-center">
                    <h4 class="text_blue mb-5">¿Te gustaría ver cómo tu negocio puede digitalizarse?</h4>
                    <a class="btn_blue">{{ lang == 'en' ? 'Book Demo': 'Reservar Demo' }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
