{% extends "layouts/base.twig" %}

{% set page = post.get_field('json_data')|json_decode %}

{% block content %}
    <div class="bg_solusion py-22" style="background-image:url({{assetPath('images/hotels/bg_head_hotels.svg')}});background-size: cover;">
        <div class="container-fluid px-0">
            <div class="row mx-0 align-items-center">
                <div class="col-md-12 px-5 py-5 text-center text-white mx-650 mx-auto">
                    <h1 class="">Hoteles y Resorts</h1>
                    <p class="mb-5 font-25">Goguest es una plataforma integradora para hoteles que facilita la interacción con el huésped mediante un sistema único que además permite la comunicación directa e inmediata con todo el hotel (PMS, POS, dispositivos y demás software).</p>
                    <a class="btn_dark_blue" href="#">{{ lang == 'en' ? 'View Case Study': 'Ver caso de estudio' }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5" style="box-shadow: 6px 7px 15px -7px #b3b3b3;">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4  text-center">
                    <img class="" src="{{assetPath('images/hotels/logo_goguest.png')}}">
                </div>
                <div class="col-md-8">
                    <div class="row align-items-center">
                        <div class="col-md-4 py-3 text-center">
                            <img class="mx-auto mb-3" style="max-width: 461px;" src="{{assetPath('images/header_icon/icon_hotel.svg')}}">
                            <a class="text_blue" href="{{ lang == 'en'? '/en/solutions/hotels-and-resorts':'/soluciones/hoteles-y-resorts'}}">{{ lang == 'en'? 'Hotels and resorts':'Hoteles y Resorts'}}</a>
                        </div>
                        <div class="col-md-4 py-3 text-center">
                            <img class="mx-auto mb-3" style="max-width: 461px;" src="{{assetPath('images/header_icon/icon_parques.svg')}}">
                            <a class="text_blue" href="{{ lang == 'en'? '/en/solutions/theme-and-water-parks':'/soluciones/parques-tematicos'}}">{{ lang == 'en'? 'Theme & Water Parks':'Parques Temáticos'}}</a>
                        </div>
                        <div class="col-md-4 py-3 text-center">
                            <a class="btn_blue" href="#">{{ lang == 'en' ? 'View Plans': 'Ver planes' }}</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="py-15" style="background-image: linear-gradient(#241DBA, #00D7D7);">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12  py-3 text-center text-white">
                    <small >CUSTOMER JOURNEY</small><br>
                    <h1 class="py-3">Experiencia del huésped desde el<br> check-in hasta el check-out</h1>
                    <img class="mx-auto w-100 my-5" src="{{assetPath('images/hotels/experiencia_huesped_hotel_restort_cashless_contactless_check-in.svg')}}">
                </div>
            </div>
        </div>
    </div>

    <div class="py-15">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 px-5 py-5 text-center mx-650 mx-auto">
                    <h1 class="py-3">Todas las funcionalidades y opciones que puedas imaginar</h1>
                    <p class="font-25">Podrás realizar pagos, controlar los accesos a diferentes áreas y las aperturas de puertas además de gestionar el préstamo de materiales, cortesías y mucho más.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row flex-md-row-reverse align-items-center justify-content-center">
                <div class="col-md-6 bg-light-grey p-3">
                    <img class="mx-auto w-100" style="max-width: 451px;" src="{{assetPath('images/hotels/pagos_cashless_hotel.png')}}">
                </div>
                <div class="col-md-6 px-5 py-5 text-center text-md-left">
                    <h1 class="text_blue">Pagos cashless</h1>
                    <p class="font-25">Podrás crear diferentes grupos de precios y tus clientes podrán realizar pagos cashless, de forma rápida y segura.</p>
                    <div class="check_lists  text-left">
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Cargo a la habitación o tokenización</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Pago por cortesías o puntos</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Diferentes grupos de precios según requisitos</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 bg-light-grey p-3">
                    <img class="mx-auto w-100" style="max-width: 451px;" src="{{assetPath('images/hotels/control_accesos_hotel.png')}}">
                </div>
                <div class="col-md-6 px-5 py-5 text-center text-md-left">
                    <h1 class="text_blue">Control de accesos</h1>
                    <p class="font-25">Permite el acceso a las distintas áreas incluídas en su reserva mediante wearables/móvil, o habilita el pago directo en caso de no haberlo contratado.</p>
                    <div class="check_lists  text-left">
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Habilita accesos según categoría de huésped</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Control de afluencias</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Apertura de puertas y tornos</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row flex-md-row-reverse align-items-center justify-content-center">
                <div class="col-md-6 bg-light-grey p-3">
                    <img class="mx-auto w-100" style="max-width: 451px;" src="{{assetPath('images/hotels/control_interno_hotel.png')}}">
                </div>
                <div class="col-md-6 px-5 py-5 text-center text-md-left">
                    <h1 class="text_blue">Control interno</h1>
                    <p class="font-25">Controla las entradas y salidas de material prestado a los huéspedes, evita robos y aumenta la eficiencia.</p>
                    <div class="check_lists  text-left">
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Préstamo de objetos</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Stock de wearables (pulseras, tarjetas, etc)</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Gestión de toallas</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6 bg-light-grey p-3">
                    <img class="mx-auto w-100" style="max-width: 451px;" src="{{assetPath('images/hotels/biga_data_business_intelligence.png')}}">
                </div>
                <div class="col-md-6 px-5 py-5 text-center text-md-left">
                    <h1 class="text_blue">Business Intelligence</h1>
                    <p class="font-25">La actividad de los huéspedes queda registrada, podrás reducir costes y aumentar beneficios.</p>
                    <div class="check_lists  text-left">
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Identificación individual de cada usuario</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Generación de reportes y métricas</p>
                         <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Hábitos de consumo y perfil de usuario</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    

    <div class="py-15">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12 text-center">
                     <a class="btn_dark_blue" href="#">{{ lang == 'en' ? 'Book Demo': 'Reservar Demo' }}</a>
                </div>   
            </div>
        </div>
    </div>

    <div class="goguest_app mt-5">
    <div class="row mx-0 align-items-center">
        <div class="col-md-5 text-center" style="min-height: 401px;">
            <div style="overflow: hidden;width: 100%;height: 300px;position: relative;">
                <div class="bg_ef"></div>
            </div>
            <img src="{{assetPath('images/home_img/goguest-phone-2.svg')}}" class="goguest_app_img">
        </div>
        <div class="col-md-6 text-white px-5 py-5 mx-650">
            <h1>Goguest App</h1>
            <p class="font-25 text-white">El huésped podrá gestionar su estancia en cualquier momento</p>
            <p><img src="{{assetPath('images/home_img/tick_white.png')}}"> Enlaza Goguest APP con la App de tu hotel y sin integraciones.</p>
            <p><img src="{{assetPath('images/home_img/tick_white.png')}}"> Personalizar el look & feel para adaptarlo a tu imagen.</p>
            <p><img src="{{assetPath('images/home_img/tick_white.png')}}"> Elige las funcionalidades que necesites para tu hotel.</p>
        </div>
    </div>
</div>
<div class="minimiza_el">
    <div class="bg_blue_right_30"></div>
    <div class="container">
        <div class="row mx-0 py-5 align-items-center">
            <div class="col-md-6 px-lg-5 py-lg-5">
                <h2 style="color: #00002c;">Minimiza el contacto y mejora la eficiencia con Goguest App</h2>
                <div class="row mt-5 ">
                    <div class="col-4 pointer_item active_item" data-target="check-in">
                        <img src="{{assetPath('images/home_img/icon-checkin.svg')}}">
                        <p>Online Check-in y Fast Check-out</p>
                    </div>
                    <div class="col-4 pointer_item" data-target="reserva-servicios">
                        <img src="{{assetPath('images/home_img/icon-reserva-servicios.svg')}}">
                        <p>Reserva de Servicios</p>
                    </div>
                    <div class="col-4 pointer_item" data-target="cuenta-cliente">
                        <img src="{{assetPath('images/home_img/icon-cuenta-cliente.svg')}}">
                        <p>Cuenta Cliente</p>
                    </div>
                    <div class="col-4 pointer_item" data-target="pedidos-room-service">
                        <img src="{{assetPath('images/home_img/icon-pedidos-room-service.svg')}}">
                        <p>Pedidos Room Service</p>
                    </div>
                    <div class="col-4 pointer_item" data-target="encuestas-digitalizadas">
                        <img src="{{assetPath('images/home_img/icon-encuestas-digitalizadas.svg')}}">
                        <p>Encuestas y Cuestionarios Digitales</p>
                    </div>
                    <div class="col-4 pointer_item" data-target="pagos-tokenizacion">
                        <img src="{{assetPath('images/home_img/icon-pagos-tokenizacion.svg')}}">
                        <p>Pagos Mediante Tokenizacion</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-lg-5 py-lg-5">
                <div class="content_box active" id="check-in">
                    <img src="{{assetPath('images/hotels/online_check-in_hotel_img.jpg')}}" style="max-width: 361px;">
                    <div class="overlay_content">
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Realizar el pre check-in</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Rellenar el cuestionario de salud o de otro tipo</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Rellenar y comprobar el estado del check-in para cada huésped</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Subir documentos</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Aceptar condiciones y firmar</p>
                    </div>
                </div>
                <div class="content_box" id="reserva-servicios">
                    <img src="{{assetPath('images/hotels/reserva_servicios_hotel.jpg')}}" style="max-width: 361px;">
                    <div class="overlay_content">
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Catalogo de Servicios</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Reserva mesa/hora en restaurante</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Ver reservas activas o ya disfrutadas</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Cambiar detailes en las reservas</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Realizar pagos</p>
                    </div>
                </div>
                <div class="content_box" id="cuenta-cliente">
                    <img src="{{assetPath('images/hotels/cuenta_cliente_huesped_hotel_img.jpg')}}" style="max-width: 361px;">
                    <div class="overlay_content">
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Ver o editar datos personales</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Editar Contraseña</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Subir o descargar documentos</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Seleccionar Idioma</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Ver balance y transacciones</p>
                    </div>
                </div>
                <div class="content_box" id="pedidos-room-service">
                    <img src="{{assetPath('images/hotels/pedidos_room_service_contactless_img.jpg')}}" style="max-width: 361px;">
                    <div class="overlay_content">
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Ver carta por centros de consumo</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Hacer pedido</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Pago directo con tarjeta bancaria o cargo habitación</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Estado pedidos</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Modificar pedidos</p>
                    </div>
                </div>
                <div class="content_box" id="encuestas-digitalizadas">
                    <img src="{{assetPath('images/hotels/encuestas digitalizadas_img.jpg')}}" style="max-width: 361px;">
                    <div class="overlay_content">
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Personalizar preguntas y tipos de </p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> respuestas</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Vincular preguntas a diferentes ubicaciones</p>
                    </div>
                </div>
                <div class="content_box" id="pagos-tokenizacion">
                    <img src="{{assetPath('images/hotels/pagos_cashless_hotel_contactless_cargo-habitacion_tokenizaion_precios_img.jpg')}}" style="max-width: 361px;">
                    <div class="overlay_content">
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> El huésped puede vincular su tarjeta a la reserva desde el web check-in</p>
                        <p><img src="{{assetPath('images/home_img/tick_dark.png')}}"> Se puede hacer pago con cargo directo a la tarjeta bancaria </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="py-15 bg_blue">
        <div class="container text-white">
            <div  class="text-center mx-650 mx-auto">
                <h1>Plataforma Goguest</h1>
                <p class="font-25">La plataforma más versátil y escalable que se adapta a tus necesidades y a tu lógica de negocio.</p>
            </div>
            <div class="row my-5 justify-content-center">
                <div class="col-md-4 text-center text-white">
                    <img class="mx-auto mb-3" style="max-height: 181px;" src="{{assetPath('images/hotels/icon_platforma_goguest_1.svg')}}">
                    <p  class="font-25">Sistema centralizado de comunicación entre todos los servicios y softwares de tu negocio.</p>
                </div>
                <div class="col-md-4 text-center text-white">
                    <img class="mx-auto mb-3" style="max-height: 181px;" src="{{assetPath('images/hotels/icon_platforma_goguest_2.svg')}}">
                    <p  class="font-25">Con nuestro panel vinculado a tu PMS podrás controlar y gestionar todo tu hotel.</p>
                </div>
                <div class="col-md-4 text-center text-white">
                    <img class="mx-auto mb-3" style="max-height: 181px;" src="{{assetPath('images/hotels/icon_platforma_goguest_3.svg')}}">
                    <p  class="font-25">Desarrollamos e integramos dentro del sistema cualquier tipo de solución que necesites.</p>
                </div>
            </div>
            <div class="py-5 text-center">
                <a class="btn_blue">{{ lang == 'en' ? 'Goguest platform': 'Plataforma Goguest' }}</a>
            </div>
        </div>
    </div>

    <div class="py-15 bg_grey">
        <div class="container text_blue">
            <h4 class="text-center mx-auto" style="max-width: 801px;">Eficiencia inmejorable mediante la integración y colaboración con los sistemas de gestión</h4>
            <div class="row my-5 justify-content-center align-items-center">
                <div class="col-md-3 bg-white text-center" style="border: 7px solid #f2f2f4;">
                    <img class="mx-auto my-5" style="max-height: 44px;" src="{{assetPath('images/p_goguest/logos_integraciones/Sihot-integracion_easygoband_hoteles.jpg')}}">
                </div>
                <div class="col-md-3 bg-white text-center" style="border: 7px solid #f2f2f4;">
                    <img class="mx-auto my-5" style="max-height: 44px;" src="{{assetPath('images/p_goguest/logos_integraciones/Opera_oracle-integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 bg-white text-center" style="border: 7px solid #f2f2f4;">
                    <img class="mx-auto my-5" style="max-height: 44px;" src="{{assetPath('images/p_goguest/logos_integraciones/TCA_integracion_easygoband.jpg')}}">
                </div>
                <div class="col-md-3 bg-white text-center" style="border: 7px solid #f2f2f4;">
                    <img class="mx-auto my-5" style="max-height: 44px;" src="{{assetPath('images/p_goguest/logos_integraciones/Tesa_integracion_easygoband.jpg')}}">
                </div>
            </div>
        </div>
    </div>

    <div class="py-15 ">
        <div class="container">
            <div  class="text-center mx-650 mx-auto">
                <h1 class="text_blue">La solución para hoteles que supera todas las expectativas</h1>
            </div>
            <div class="row my-5 justify-content-center text_blue">
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 81px;" src="{{assetPath('images/hotels/la-solucion-1.svg')}}">
                    <h4>Mejora las operativas</h4>
                    <p>Los procesos de tu negocio serán más eficientes, mejorarás las operativas y ganarás tiempo.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 81px;" src="{{assetPath('images/hotels/la-solucion-2.svg')}}">
                    <h4>Mayor rentabilidad</h4>
                    <p>Aumentarás ingresos, reducirás los gastos y promoverás el consumo.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 81px;" src="{{assetPath('images/hotels/la-solucion-3.svg')}}">
                    <h4>Más seguridad</h4>
                    <p>Tendrás un control total y mayor seguridad para tus clientes y negocio.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 81px;" src="{{assetPath('images/hotels/la-solucion-4.svg')}}">
                    <h4>Todo bajo control</h4>
                    <p>Conocerás los movimientos de tus clientes y podrás tomar decisiones estratégicas basadas en datos reales.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 81px;" src="{{assetPath('images/hotels/la-solucion-5.svg')}}">
                    <h4>Sencillez y agilidad</h4>
                    <p>Disfrutarás de un sistema sencillo de usar y no necesitarás software adicional para operar tu hotel.</p>
                </div>
                <div class="col-md-4 text-center">
                    <img class="mx-auto mb-3" style="max-height: 81px;" src="{{assetPath('images/hotels/la-solucion-6.svg')}}">
                    <h4>Flexibilidad</h4>
                    <p>Podrás implementar nuevos softwares o crear nuevos desarrollos cuando lo necesites.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container-fluid px-0 text_blue">
            <div class="row  mx-0 bg_grey justify-content-center align-items-center">
                <div class="col-md-6 px-0">
                    <div class="videoWrapper videoWrapper169 js-videoWrapper">
                        <iframe class="videoIframe js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/vw2AF0S28D4?autoplay=1"></iframe>
                        <button class="videoPoster js-videoPoster" style="background-image:url({{assetPath('images/hotels/video_poster.svg')}});">Play video</button>
                    </div>
                </div>
                <div class="col-md-6 px-0 py-5 text-center text-md-left mx-650 mx-auto">
                    <h1 class="text_blue">Hoteles Oasis</h1>
                    <p class="mb-5 font-25">Transformación digital del recinto completo con el fin de mejorar las operativas y los procesos, aumentar la seguridad y mejorar la experiencia de usuario.</p>
                    <a class="btn_blue" href="#">{{ lang == 'en' ? 'View Case Study': 'Ver caso de éxito' }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="py-15 bg_blue">
        <div class="container">
            <div class="row  justify-content-center align-items-start relative logo_review">
                <div class="col-md-12" style=" overflow: hidden;">
                     <div class="slider">
                        <div class="logos">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0000_Grupo-Pinero.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0001_Alannia.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0002_karisma.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0003_Mundo-imperial.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0004_acampada-jove.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0005_belive.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0006_the-beerman.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0007_aquarama.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0008_corona.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0009_carpe-birrem.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0010_aqualandia.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0011_MIT.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0012_UJI.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0013_rototom.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0014_aapolo-argentina.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0015_OASIS.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0016_Melodi-maker.png')}}">
                            <img class="fab" src="{{assetPath('images/hotels/client_logos/logos_clientes_20_0017_pesf.png')}}">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 absolute" style="bottom: -256px;">
                    <div id="carousel-example-2" class="carousel slide carousel-fade mb-5" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-2" data-slide-to="1"></li>
                            <li data-target="#carousel-example-2" data-slide-to="2"></li>
                            <li data-target="#carousel-example-2" data-slide-to="3"></li>
                            <li data-target="#carousel-example-2" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="carousel-caption text_blue">
                                    <div class="row align-items-center">
                                        <div class="col-md-5">
                                            <img class="mx-auto" src="{{assetPath('images/hotels/logo_pinerro.png')}}">
                                        </div>
                                        <div class="col-md-7">
                                            <h4 style="font-size: 19px !important;"><blockquote>"En una semana se multiplicaron por 3 las reservas."</blockquote></h4>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                    <p class="font-25 mb-0">TONI MUÑOZ</p>
                                    <p>Director de Proyectos IT. Grupo Piñero.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption text_blue">
                                    <div class="row align-items-center">
                                        <div class="col-md-5">
                                            <img class="mx-auto" src="{{assetPath('images/hotels/logo-aquarama-color.jpg')}}"> 
                                        </div>
                                        <div class="col-md-7">
                                            <h4 style="font-size: 19px !important;"><blockquote>"Easygoband nos permite relacionarnos de una forma diferente y mejorada con nuestros clientes."</blockquote></h4>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                    <p class="font-25 mb-0">DOLORES SALGADO</p>
                                    <p>Directora</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption text_blue">
                                    <div class="row align-items-center">
                                        <div class="col-md-5">
                                            <img class="mx-auto" src="{{assetPath('images/hotels/logo-oasis-color.jpg')}}">
                                        </div>
                                        <div class="col-md-7"> 
                                            <h4 style="font-size: 19px !important;"><blockquote>"Son super eficientes y honestos. Su tecnologia cashless es fantastic y el equipo te acompana durante todo el festival."</blockquote></h4>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                    <p class="font-25 mb-0">LAIA GORDI</p>
                                    <p>Comunicacion Feslloc</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption text_blue">
                                    <div class="row align-items-center">
                                        <div class="col-md-5">
                                            <img class="mx-auto" src="{{assetPath('images/hotels/logo-beerman-color.jpg')}}">
                                        </div>
                                        <div class="col-md-7">
                                            <h4 style="font-size: 19px !important;"><blockquote>"La experiencia ha sido muy satisfactoria con un control al maximo y una excelente percepcion de los asistentes"</blockquote></h4>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                    <p class="font-25 mb-0">JUAN ZURITA</p>
                                    <p>Owner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption text_blue">
                                    <div class="row align-items-center">
                                        <div class="col-md-5">
                                            <img class="mx-auto" src="{{assetPath('images/hotels/logo-aapolo-color.jpg')}}">
                                        </div>
                                        <div class="col-md-7">
                                            <h4 style="font-size: 19px !important;"><blockquote>"Easygoband se ha vuelto indispensable para agilizar, aumentar nuestros ingresos en gran medida y tener un control exhaustivo de nuestro evento."</blockquote></h4>
                                        </div>
                                    </div>
                                    <div class="text-left">
                                    <p class="font-25 mb-0">NICOLAS FILIPPINI</p>
                                    <p>Gte de planeamiento y Control de Gestion</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .slider {
            animation: slidein 30s linear infinite;
            white-space: nowrap;
        }
        .slider .logos {
            width: 100%;
            display: flex;
            margin: 0px 0;
        }
        .slider .logos .fab {
            width: calc(100% / 7);
            animation: fade-in 0.5s 
            cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
        }

        @keyframes slidein {
            from {
                transform: translate3d(0, 0, 0);
            }
            to {
                transform: translate3d(-100%, 0, 0);
            }
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>

    <div class="py-15 foot_book">
        <div class="container text_blue">
            <div class="row my-5 justify-content-center align-items-center" style="border: 9px solid grey;min-height: 301px;">
                <div class="col-md-7 relative">
                    <img class="mx-auto img_goguest" src="{{assetPath('images/p_goguest/Goguest-demo-CTA.svg')}}">
                </div>
                <div class="col-md-5 text-center">
                    <h4 class="text_blue mb-5">¿Te gustaría ver cómo tu negocio puede digitalizarse?</h4>
                    <a class="btn_blue">{{ lang == 'en' ? 'Book Demo': 'Reservar Demo' }}</a>
                </div>
            </div>
        </div>
    </div>
<script>
    jQuery(document).ready(function(){

        //box switch
        jQuery('.pointer_item').hover(function(){ jQuery(this).parent().find('.pointer_item').removeClass('active_item');
            jQuery(this).addClass('active_item');
            var getID = jQuery(this).data('target');
            jQuery('.content_box').removeClass('active');
            jQuery("#"+ getID).addClass('active');
        });

        //video button play
        jQuery(document).on('click','.js-videoPoster',function(ev) {
                ev.preventDefault();
                var $poster = jQuery(this);
                var $wrapper = $poster.closest('.js-videoWrapper');
                videoPlay($wrapper);
        });
        function videoPlay($wrapper) {
            var $iframe = $wrapper.find('.js-videoIframe');
            var src = $iframe.data('src');
            $wrapper.addClass('videoWrapperActive');
            $iframe.attr('src',src);
        }

        //logo slider
       
    });
</script>
{% endblock %}
