<a href="{{sector.link}}" class="w-full relative no-underline overflow-hidden">
	<img class="w-full h-full absolute object-cover" src="{{sector.img}}" alt="">
	<div class="relative h-full flex flex-col justify-center items-center z-10">
		<h3 class="text-3xl text-white normal-case">
			{{sector.title}}
		</h3>
		<div class="more flex">
			<p class="font-header text-xl text-white mr-4">{{page.sectors.cta}}</p>
			<img src="{{assetPath('images/icon-arrow-white.svg')}}">
		</div>
	</div>
</a>
